@tailwind base;
@tailwind components;
@tailwind utilities;

/* This sets up our base styles for the whole app */
body {
  background-color: #111827; /* Dark Grey/Black background */
  color: #FFFFFF; /* Default text color to white */
  font-family: 'Inter', sans-serif; /* A nice, clean font */
}